body {
  background-color: navy
}

img {
  position: relative;
  width: 100px;
  height: 100px;
}

.box {
  width: 600px;
  height: 150px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 10px;
}

button {
  float: right;
  color: white;
  background-color: black;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  width: 60px;
  height: 25px;
  font-size: 12px;
}

#face2 {
  opacity: 0;
  transform: scale(0,0);
}

.control-buttons {
  display: block;
  right: 0;
  float: none;
  margin-bottom: 8px;
}

.control-box {
  float: right;
}
